body {
    font-family: Arial, sans-serif;
    background-image: url('./img/1.jfif');
    background-repeat: no-repeat;
    background-size: cover;
   }
   
   .forum-container {
    width: 800px;
    padding: 16px;
    background-color: white;
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px;
   }
   
   .category-container,
   .post-container,
   .new-post-container {
    margin-top: 16px;
   }
   
   .category-container ul {
    list-style-type: none;
    padding: 0;
   }
   
   .category-container li a {
    display: block;
    padding: 4px;
   }
   
   .category-container li a:hover {
    background-color: #eee;
   }
   
   .post-container ul {
    list-style-type: none;
    padding: 0;
   }
   
   .post-container li {
    margin-bottom: 16px;
   }
   
   .new-post-container form {
    margin-top: 8px;
   }
   
   .input-container {
    margin-bottom: 8px;
   }
   #title{
    margin-left: 26px;
   }